body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    padding: 40px;
    width: 60%;
    max-width: 800px;
    position: relative;
}

.header {
    text-align: center;
    margin-bottom: 40px;
}

.header h1 {
    margin: 0;
    color: #333;
}

.question-container {
    margin-bottom: 30px;
}

.question {
    font-size: 1.5em;
    color: #444;
}

.options {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.options li {
    list-style-type: none;
    background-color: #e0e0e0;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
    transition: background-color 0.3s;
}

.options li:hover {
    background-color: #d4d4d4;
}

.options input {
    margin-right: 10px;
}

.video-container {
    position: fixed;
    bottom: 10px;
    right: 10px;
    border: 2px solid #000;
    padding: 10px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
